<div [ngClass]="{'selected': isSelected(section)}">
    <p [attr.id]="section.linkId || getSectionId(section)" [class]="'sectionHeader' + sectionLevel"
        (click)="contentClick(getSectionId(section))">
        {{sectionNumber}} {{(section.value | qtfTranslate | async)}}</p>
</div>

<div *ngFor="let content of section.content">
    <ng-container [ngSwitch]="content.type">
        <ng-template [ngSwitchCase]="HelpContentType.INSTRUCTION">
            <div id="{{getSectionId(content)}}" [ngClass]="{'selected': isSelected(content)}"
                (click)="contentClick(getSectionId(content))">
                <p [innerHTML]="(content.value | qtfTranslate | async)" class="help-instruction"></p>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="HelpContentType.INSTRUCTION_BOLD">
            <div id="{{getSectionId(content)}}" [ngClass]="{'selected': isSelected(content)}"
                (click)="contentClick(getSectionId(content))">
                <p [innerHTML]="(content.value | qtfTranslate | async)" class="help-instruction-bold"></p>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="HelpContentType.IMAGE">
            <div id="{{getSectionId(content)}}" [ngClass]="{'selected': isSelected(content)}"
                (click)="contentClick(getSectionId(content))">
                <figure>
                    <img [src]="'./media/helpImages/' + content.value + '.svg'"
                        [appDefault]="'./media/helpImages/' + content.value"
                        [appLanguage]="language"
                        class="image" [class.image-border]="content.border"
                        [fallback]="'assets/image-fallback.svg'" [style.width]="content.width" [style.height]="content.height">
                    <figcaption [innerHTML]="(content.imageDescription | qtfTranslate | async)" class="imageDesc"></figcaption>
                </figure>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="HelpContentType.SPLITIMAGE">
            <div id="{{getSectionId(content)}}" [ngClass]="{'selected': isSelected(content)}"
                (click)="contentClick(getSectionId(content))">
                <figure>
                    <img [src]="'./media/helpImages/' + content.value + '.svg'"
                        [appDefault]="'./media/helpImages/' + content.value"
                        [appLanguage]="language"
                        [fallback]="'assets/image-fallback.svg'" class="image" [class.image-border]="content.border">
                    <figcaption [innerHTML]="(content.imageDescription | qtfTranslate | async)" class="imageDesc"></figcaption>
                </figure>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="HelpContentType.ENUMERATION">
            <div class="OrderedList">
                <div *ngFor="let step of content.steps; let k = index">
                    <div id="{{getSectionId(step)}}" (click)="contentClick(getSectionId(step))" class="Enum_list_item"
                        [ngClass]="{'selected': isSelected(step)}">
                        <div [innerHTML]="(k + 1 ) + '.'" class="Enum_list_numberfield"></div>
                        <div [innerHTML]="(step.value | qtfTranslate | async)"></div>
                    </div>
                    <ol class="subSecList">
                        <li *ngFor="let substep of step.substeps">
                            <div (click)="contentClick(getSectionId(substep))" id="{{getSectionId(substep)}}"
                                [ngClass]="{'selected': isSelected(substep)}"
                                [innerHTML]="(substep.value | qtfTranslate | async)">
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="HelpContentType.BULLET_ENUMERATION">
            <div *ngFor="let bulletPoint of content.steps">
                <li class="subSecBulletList">
                    <div (click)="contentClick(getSectionId(bulletPoint))" id="{{getSectionId(bulletPoint)}}"
                        [ngClass]="{'selected': isSelected(bulletPoint), 'list_inline_edge': isIeOrEdge()}"
                        [innerHTML]="(bulletPoint.value | qtfTranslate | async)"></div>
                </li>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="HelpContentType.TABLE">
            <div class="help-table-container">
                <table class="help-table">
                    <tr>
                        <th *ngFor="let header of content.header; let colIndex = index"
                            (click)="tableCellClick(header, getSectionId(content), colIndex, undefined, true)"
                            [ngClass]="{'selected': isTableCellSelected(getTableCellImageAlt(header), getSectionId(content), undefined, colIndex, true)}">
                            <ng-container *ngIf="isTableCellImage(header); else headerText">
                                <img [src]="'./media/helpImages/' + header.value + '.svg'"
                                    [appDefault]="'./media/helpImages/' + header.value"
                                    [appLanguage]="language"
                                    [fallback]="'assets/image-fallback.svg'" class="table-image"
                                    [class.image-border]="header.border"
                                    [style.width]="header.width" [style.height]="header.height"
                                    [attr.alt]="(getTableCellImageAlt(header) | qtfTranslate)">
                            </ng-container>
                            <ng-template #headerText>
                                <span [innerHTML]="(getTableCellText(header) | qtfTranslate | async)"></span>
                            </ng-template>
                        </th>
                    </tr>
                    <tr *ngFor="let row of content.rows; let i = index" class="help-table"
                        [ngClass]="{'table-even-row': (i % 2 == 0), 'table-odd-row': (i % 2 == 1)}">
                        <td *ngFor="let rowValue of row.rowValues; let colIndex = index"
                            (click)="tableCellClick(rowValue, getSectionId(content), colIndex, i)"
                            [ngClass]="{'selected': isTableCellSelected(getTableCellImageAlt(rowValue), getSectionId(content), i, colIndex)}">
                            <ng-container *ngIf="isTableCellImage(rowValue); else rowText">
                                <img [src]="'./media/helpImages/' + rowValue.value + '.svg'"
                                    [appDefault]="'./media/helpImages/' + rowValue.value"
                                    [appLanguage]="language"
                                    [fallback]="'assets/image-fallback.svg'" class="table-image"
                                    [class.image-border]="rowValue.border"
                                    [style.width]="rowValue.width" [style.height]="rowValue.height"
                                    [attr.alt]="(getTableCellImageAlt(rowValue) | qtfTranslate)">
                            </ng-container>
                            <ng-template #rowText>
                                <span [innerHTML]="(getTableCellText(rowValue) | qtfTranslate | async)"></span>
                            </ng-template>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-template>

        <ng-template ngSwitchDefault>
            <div style="color: red">UNSUPPORTED TYPE: {{content | json}}</div>
        </ng-template>
    </ng-container>
</div>

<div *ngFor="let subSection of section.subsections; let i = index">
    <app-help-section [section]="subSection" [sectionNumber]="(sectionNumber + '.') + (i + 1)"
        [sectionLevel]="(sectionLevel + 1)" (selectContent)="forwardSectionClick($event)"
        [selectedHelpSection]="selectedHelpSection" [selectedContentKey]="selectedContentKey"
        [selectedTableCell]="selectedTableCell" [language]="language"></app-help-section>
</div>
