<div class="treeview_main">
    <ng-container *ngIf="getSelectedItem() as item">
        <div *ngIf="item.coversheet?.length">
            <p class="section_header">Cover</p>
            <ng-container *ngFor="let sec of item.coversheet; let i = index">
                <ng-container *ngTemplateOutlet="recursiveTree; context:{ $implicit: sec, level: 1, parent: item, container: 'coversheet', index: i }"></ng-container>
            </ng-container>
        </div>
        <div *ngIf="item.content?.length">
            <p class="section_header">Content</p>
            <ng-container *ngFor="let sec of item.content; let i = index">
                <ng-container *ngTemplateOutlet="recursiveTree; context:{ $implicit: sec, level: 1, parent: item, container: 'content', index: i }"></ng-container>
            </ng-container>
        </div>
        <ng-container *ngIf="item.abbreviations?.length">
            <p class="section_header">Abbreviations:</p>
            <ul>
                <li *ngFor="let ab of item.abbreviations">
                    {{ ab.abbreviation }} = {{ ab.shortDescription }}
                </li>
            </ul>
        </ng-container>
    </ng-container>

    <!-- Rekursives Template für die Baumansicht -->
    <ng-template #recursiveTree let-parent let-section let-level="level" let-container="container" let-index="index">
        <div class="tree-row" [ngStyle]="getMarginLeft(level)">
            <span (click)="onSelectTreeItem(section.value)" (dblclick)="onOpenCloseSection(section.value)"
                class="tree_item"
                [ngClass]="{'hasChildren': hasChildren(section), 'tree_item-open': hasChildren(section) && getItemExpanded(section), 'selected': isSelectedSection(section)}"
                (contextmenu)="openContextMenu($event, section, parent, container, index)">
                <div *ngIf="section.value">{{ section.value }}</div>
                <div *ngIf="!section.value">{{ section.type }}</div>
            </span>
        </div>

        <div *ngIf="getItemExpanded(section)">
            <div *ngIf="section.coversheet?.length">
                <ng-container *ngFor="let sub of section.coversheet; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: sub, level: level + 1, parent: section, index: j, container: 'coversheet'}"></ng-container>
                </ng-container>
            </div>

            <div *ngIf="section.content?.length">
                <ng-container *ngFor="let sub of section.content; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: sub, level: level + 1, parent: section, index: j, container: 'content'}"></ng-container>
                </ng-container>
            </div>

            <div *ngIf="section.subsections?.length">
                <ng-container *ngFor="let sub of section.subsections; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: sub, level: level + 1, parent: section, index: j, container: 'subsections'}"></ng-container>
                </ng-container>
            </div>

            <div *ngIf="section.steps?.length">
                <ng-container *ngFor="let step of section.steps; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: step, level: level + 1, parent: section, index: j, container: 'steps'}"></ng-container>
                </ng-container>
            </div>

            <div *ngIf="section.substeps?.length">
                <ng-container *ngFor="let substep of section.substeps; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: substep, level: level + 1, parent: section, index: j, container: 'substeps'}"></ng-container>
                </ng-container>
            </div>
        </div>
    </ng-template>

    <app-contextmenu #contextMenu [items]="contextMenuItems" (menuSelect)="onContextMenuAction($event)"></app-contextmenu>

</div>
