<div class="treeview_main">
    <ng-container *ngIf="getSelectedItem() as item">
        <div *ngIf="item.coversheet?.length">
            <p class="section_header">Cover</p>
            <div cdkDropList [cdkDropListData]="{ parent: item, container: 'coversheet' }" (cdkDropListDropped)="onDrop($event)">
                <ng-container *ngFor="let sec of item.coversheet; let i = index">
                    <ng-container *ngTemplateOutlet="recursiveTree; context:{ $implicit: sec, level: 1, parent: item, container: 'coversheet', index: i }"></ng-container>
                </ng-container>
            </div>
        </div>
        <div *ngIf="item.content?.length">
            <p class="section_header">Content</p>
            <div cdkDropList [cdkDropListData]="{ parent: item, container: 'content' }" (cdkDropListDropped)="onDrop($event)">
                <ng-container *ngFor="let sec of item.content; let i = index">
                    <ng-container *ngTemplateOutlet="recursiveTree; context:{ $implicit: sec, level: 1, parent: item, container: 'content', index: i }"></ng-container>
                </ng-container>
            </div>
        </div>
        <div class="abbreviation-section" (contextmenu)="openContextMenu($event, null, item, 'abbreviations', -1)">
            <p class="section_header">Abbreviations:</p>
            <ul>
                <li *ngFor="let ab of item.abbreviations; let i = index" class="abbreviation-item"
                    (contextmenu)="openContextMenu($event, ab, item, 'abbreviations', i)">
                    <span class="tree_item abbreviation-label">
                        <div class="abbreviation-title">{{ ab.abbreviation }}</div>
                        <div class="abbreviation-desc" *ngIf="ab.referenceAbbreviation">↪ {{ ab.referenceAbbreviation }}</div>
                        <div class="abbreviation-desc" *ngIf="!ab.referenceAbbreviation">{{ ab.shortDescription }}</div>
                    </span>
                </li>
                <li *ngIf="!item.abbreviations?.length" class="abbreviation-empty">
                    <span class="abbreviation-placeholder">Keine Abkürzungen vorhanden (Rechtsklick zum Hinzufügen)</span>
                </li>
            </ul>
        </div>
    </ng-container>

    <!-- Rekursives Template für die Baumansicht -->
    <ng-template #recursiveTree let-parent let-section let-level="level" let-container="container" let-index="index">
        <div class="tree-row" [ngStyle]="getMarginLeft(level)" cdkDrag [cdkDragData]="{ parent: parent, container: container, index: index }">
            <span
                *ngIf="hasChildren(section)"
                class="tree-toggle material-icons"
                (click)="onOpenCloseSection(section.value)"
                (contextmenu)="openContextMenu($event, section, parent, container, index)">
                {{ getTreeIcon(section) }}
            </span>
            <span (click)="onSelectTreeItem(section.value)" (dblclick)="onOpenCloseSection(section.value)"
                class="tree_item"
                [ngClass]="{'selected': isSelectedSection(section)}"
                (contextmenu)="openContextMenu($event, section, parent, container, index)">
                <div *ngIf="section.value">{{ section.value }}</div>
                <div *ngIf="!section.value">{{ section.type }}</div>
            </span>
            <span class="tree-actions">
                <span class="material-icons action-icon"
                    [class.disabled]="!canMoveUp(parent, container, index)"
                    title="Move up"
                    (click)="onMoveClick($event, parent, container, index, 'up')">arrow_drop_up</span>
                <span class="material-icons action-icon"
                    [class.disabled]="!canMoveDown(parent, container, index)"
                    title="Move down"
                    (click)="onMoveClick($event, parent, container, index, 'down')">arrow_drop_down</span>
                <span class="material-icons drag-handle" cdkDragHandle title="Drag to reorder">drag_indicator</span>
            </span>
        </div>

        <div *ngIf="getItemExpanded(section)">
            <div *ngIf="section.coversheet?.length" cdkDropList [cdkDropListData]="{ parent: section, container: 'coversheet' }" (cdkDropListDropped)="onDrop($event)">
                <ng-container *ngFor="let sub of section.coversheet; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: sub, level: level + 1, parent: section, index: j, container: 'coversheet'}"></ng-container>
                </ng-container>
            </div>

            <div *ngIf="section.content?.length" cdkDropList [cdkDropListData]="{ parent: section, container: 'content' }" (cdkDropListDropped)="onDrop($event)">
                <ng-container *ngFor="let sub of section.content; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: sub, level: level + 1, parent: section, index: j, container: 'content'}"></ng-container>
                </ng-container>
            </div>

            <div *ngIf="section.subsections?.length" cdkDropList [cdkDropListData]="{ parent: section, container: 'subsections' }" (cdkDropListDropped)="onDrop($event)">
                <ng-container *ngFor="let sub of section.subsections; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: sub, level: level + 1, parent: section, index: j, container: 'subsections'}"></ng-container>
                </ng-container>
            </div>

            <div *ngIf="section.steps?.length" cdkDropList [cdkDropListData]="{ parent: section, container: 'steps' }" (cdkDropListDropped)="onDrop($event)">
                <ng-container *ngFor="let step of section.steps; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: step, level: level + 1, parent: section, index: j, container: 'steps'}"></ng-container>
                </ng-container>
            </div>

            <div *ngIf="section.substeps?.length" cdkDropList [cdkDropListData]="{ parent: section, container: 'substeps' }" (cdkDropListDropped)="onDrop($event)">
                <ng-container *ngFor="let substep of section.substeps; let j = index">
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context:{ $implicit: substep, level: level + 1, parent: section, index: j, container: 'substeps'}"></ng-container>
                </ng-container>
            </div>
        </div>
    </ng-template>

    <app-contextmenu #contextMenu [items]="contextMenuItems" (menuSelect)="onContextMenuAction($event)"></app-contextmenu>

</div>
