.treeview_main {
    background-color: white;
    padding: 3px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    font-family: Roboto,"Helvetica Neue";
}

.tree-row {
    display: flex;
    align-items: center;
}

.tree_item {
    font-size: 0.8em;
    cursor: pointer;
    display: flex;
    line-height: 28px;

    &:hover {
        background-color: #eee;
    }

    &:active {
        background-color: #FADD37;
    }
}

.tree-actions {
    display: flex;
    gap: 4px;
    margin-left: 8px;

    button {
        font-size: 0.7rem;
        padding: 2px 4px;
        line-height: 1.2;
        cursor: pointer;
    }
}

.selected {
    background-color: #FADD37;
}

.hasChildren::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    width: 15pt;
    vertical-align: middle;
}

.tree_item-open::before {
    transform: rotate(90deg);
}
