@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "@angular/material/_theming.scss";
@import './material-icons.scss'; // url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
    font-family: 'Roboto';
        src: url('/assets/fonts/Roboto+DroidFallback-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/assets/fonts/Roboto+DroidFallback-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/assets/fonts/Roboto+DroidFallback-Bold.ttf') format('truetype');
    }

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.mat-dialog-container {
  border-radius: 0;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0;
}

.section_header {
  font-size: 0.6em;
  border-bottom: #666666 solid 1px;
}

.input {
  width: 98%;

  &:focus {
    outline: #fadd37 solid 2px;
    outline-offset: -1px;
    border: none;
  }
}


a {
  text-decoration: underline;
  //color: black;
  color: #008796;
    cursor: pointer;
}

a:hover {
  //background-color: #FADD37;
}
