<div class="toc-widget" [class.collapsed]="isCollapsed">
  <div class="toc-header" (click)="toggleCollapsed()">
    <div class="toc-title">
      <span class="toc-title-text">{{title | qtfTranslate | async}}</span>
    </div>

    <button type="button" class="toc-toggle" (click)="toggleCollapsed(); $event.stopPropagation()">
      <span *ngIf="isCollapsed">▸</span>
      <span *ngIf="!isCollapsed">▾</span>
    </button>
  </div>

  <div class="toc-body" *ngIf="!isCollapsed">
    <ng-container *ngIf="tocItems$ | async as items">
      <ul class="toc-list">
        <ng-container *ngFor="let item of items">
          <ng-container [ngTemplateOutlet]="node" [ngTemplateOutletContext]="{ item: item }"></ng-container>
        </ng-container>
      </ul>

      <ng-template #node let-item="item">
        <li class="toc-item"
            [class.active]="activeLinkId === item.linkId"
            [class.level2]="item.level === 2"
            [class.level3]="item.level === 3"
            [class.level4]="item.level >= 4">
          <a (click)="navigateTo(item.linkId)">
            <!-- Prefer your translation pipe; fallback available via translateFn -->
            <ng-container *ngIf="!translateFn">
            <ng-container *ngIf="(item.key | qtfTranslate | async) as translated">
                <span class="toc-item-label">
                  <span class="toc-item-number" *ngIf="item.number">{{ item.number }}</span>
                  {{ getLabel(item.key, translated) }}
                </span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="translateFn">
              <ng-container *ngIf="translateFn(item.key) as translated">
                <span class="toc-item-label">
                  <span class="toc-item-number" *ngIf="item.number">{{ item.number }}</span>
                  {{ getLabel(item.key, translated) }}
                </span>
                <span class="toc-item-key" *ngIf="shouldShowKey(item.key, translated)">{{ item.key }}</span>
              </ng-container>
            </ng-container>
          </a>

          <ul class="toc-list" *ngIf="item.children?.length">
            <ng-container *ngFor="let child of item.children">
              <ng-container [ngTemplateOutlet]="node" [ngTemplateOutletContext]="{ item: child }"></ng-container>
            </ng-container>
          </ul>
        </li>
      </ng-template>
    </ng-container>
  </div>
</div>
