.header-menu {
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1.5em;
}

.menu-wrapper {

    ul {
        font-weight: normal;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        font-size: 13px;
        text-align: left;
        display: inline-block;
    }

    .submenu {
        position: absolute;  /* <-- added declarations */
        left: 0; top: 100%;  /*     here               */
        width: auto;         /*     and here...        */
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
        z-index: 999;
        transition: height 1s ease;
    }

    .menu-item {
        cursor: pointer;
        position: relative;
        display: -ms-inline-flexbox;
        display: inline-flex;
        height: 42px;
        line-height: 42px;
        padding: 0 12px;
        padding-right: 12px;
        vertical-align: top;
        white-space: nowrap;

        padding-right: 30px;

        .parent {
            max-height:298px;
            overflow-y:auto 
        }

        &:hover {
            background-color:#eee;
            color:rgba(0,0,0,.87);
            outline:0 solid #eee;
            outline-offset:0 
        }
    }

    .menu-separator {
        height: 1px;
        margin: 0;
        overflow: hidden;
        background-color: #e5e5e5;
        pointer-events:none;
    }

    .hide {
        display: none;
    }
}